.button {
  width: 110px;
  height: 30px;
  border: 0;
  color: #FFFFFF;
  background-color: #515151;
  border-radius: 10px;
  margin: 10px 10px 0px 10px;

  &:disabled {
    background-color: #4a4a4a;
    color: #6f6f6f;
  }
  &:active {
    background-color: #4a4a4a;
  }
}