@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
  font-family: 'Inter', sans-serif;
}
body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  & .settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 150px;
    background-color: #2E2E2E;
    border-radius: 10px;
    margin: 25px;

    & .input_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & label {
        font-size: 14px;
        color: #FFFFFF;
        & span {
          font-size: 12px;
        }
      }
    }
  }
  & .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 150px;
    background-color: #2E2E2E;
    border-radius: 10px;
    margin: 25px;

    & .screen {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 80px;
      border-radius: 10px;
      background-color: #D9D9D9;
      padding: 0px 10px;

      & span {
        font-size: 20px;
      }
    }

  }
}